body{
    
}

form{
    min-width: 1000px;
    width: auto;
    text-align:left;
}

table{
    background-color: bisque;
    border: 1px solid red;
    border-bottom: collapse;
    width: auto;
}

#table_header{
    text-align:center;
    background-color: aquamarine;
}

#table_rows{
    text-align:center;
    
    
}

td{
    width: 300px;
}

.error {
    color: #FF0000;
}