body{
    text-align:center;
    background-color:floralwhite;
}

#container{
    padding: 10px;
    height: auto;
    width: auto;
    align-content: center;
}

#window{
    display: block;
    text-align: right;
/*    align-content:flex-end;*/
/*    background-color: chartreuse;*/
}

#profile{
    display: inline-block;
    padding: 5px 10px;
    text-align: right;
    background-color: darkkhaki;
}

button{
    height: 45px; 
    width: 150px;
    border-radius: 50px;
    margin: 5px;
}

#botton{
    text-decoration: none;
    color: black;
}

form{
    min-width: 1000px;
    width: auto;
    align-content: center;
}

#table1{
    background-color: azure;
    border-bottom: collapse;
    width: auto;
}

#table2{
    background-color: azure;
    border-bottom: collapse;
    width: auto;
    padding: 10px;
}


#table3{
    background-color: azure;
    border-bottom: collapse;
    width: auto;
    padding: 10px;
    
}

#table2 td{
    
    width: auto;
}

#table_header{
    text-align:center;
    background-color:darkkhaki;
}

#table_rows{
    text-align:center;
}

td{
    width: 300px;
    height: 50px;
}

.error {
    color: #FF0000;
}